<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c76667">  <td>21/06/03 12:52:58</td>   <td>0</td> <td title="&lt;&lt;LoginLogout.Userlogout()[pri:0, instance:com.bnym.testCase.Sample_TestCase@68d279ec]">&lt;&lt;Userlogout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@945834881</td>   <td></td> </tr>
<tr bgcolor="c76667">  <td>21/06/03 12:52:48</td>   <td>-10464</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginLogout.afterMethod()[pri:0, instance:com.bnym.testCase.Sample_TestCase@68d279ec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@945834881</td>   <td></td> </tr>
<tr bgcolor="c76667">  <td>21/06/03 12:52:48</td>   <td>-10763</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginLogout.beforeMethod()[pri:0, instance:com.bnym.testCase.Sample_TestCase@68d279ec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@945834881</td>   <td></td> </tr>
<tr bgcolor="bfa8f6">  <td>21/06/03 12:52:48</td>   <td>-10477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample_TestCase.excuteTestCase()[pri:0, instance:com.bnym.testCase.Sample_TestCase@68d279ec]">excuteTestCase</td> 
  <td>main@945834881</td>   <td></td> </tr>
<tr bgcolor="c76667">  <td>21/06/03 12:52:02</td>   <td>-56734</td> <td title="&gt;&gt;LoginLogout.login(java.lang.String)[pri:0, instance:com.bnym.testCase.Sample_TestCase@68d279ec]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@945834881</td>   <td></td> </tr>
</table>
